* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #f7ded7;
  color: #493F3C;
  padding: 10px;
}

.todo-wrapper {
  width: 350px;
  height: 650px;
  background: #f6fafb;
  margin: 65px auto 20px;
  padding: 40px 30px 30px;
  border-radius: 25px;
  box-shadow: 0px 35px 72px -67px #000;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.header-text h2 {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.task-counter {
  font-size: 0.7rem;
  font-weight: 600;
  color: #fe7461;
  padding-top: 5px; 
}

.header-text>.date, .header-text>.time {
  font-size: 0.7rem;
  font-weight: 500;
  color: #493F3C;
  padding-top: 8px;
}

.header-text>.time {
  padding-top: 2px;
  opacity: 85%;
}

.header-icon img {
  width: 100px;
}


/* input */
.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 25px 31px -23px #fe7461;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

input::placeholder {
  font-size: 0.8rem;
}

button {
  border: none;
  outline: none;
  padding: 10px 30px;
  background: #fe7461;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 1.3rem; 
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #f3523d;
}

/* main */
main {
  height: 345px;
  overflow: auto;
}

ul li {
  list-style: none;
  font-size: 0.85rem;
  padding: 12px 8px 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(media/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #9f9b9a;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(media/checked.png);
}


/* footer */
footer > .signature {
  font-size: 0.7rem;
  font-weight: 600;
  color: #ec8e81;
  margin-top: 20px; 
  text-align: center;
  
}

footer .signature-link {
  color: #f3523d;
  text-decoration: none;
}

footer .signature-link:hover {
  color: #a7210f;
  transition: all 0.5s ease-in-out;
}